<%
  title = t('user_site.general.model_list_title', model: Article.model_name.human(count: 2))
%>

<% content_for :title, title %>

<% content_for(:main_header) do %>
  <%= render(UserSite::MainHeaderComponent.new) do %>
    <%= render(UserSite::MainHeaderTitleComponent.new) do %>
      <%= render(UserSite::MainHeaderTitleTextComponent.new) do %>
        <%= title %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="mb-4">
  <%= page_entries_info @articles %>
</div>

<% if @articles.present? %>
  <div class="mb-4">
    <% @articles.each do |article| %>
      <%= render(UserSite::CardComponent.new(append_classes: ['mb-4'])) do %>
        <%= render(UserSite::CardBodyComponent.new) do %>
          <%= render(UserSite::CardTitleComponent.new) do %>
            <%= link_to article.title, user_site_article_path(id: article.id) %>
          <% end %>
          <p>
            <%= truncate(article.body) %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="mb-4 flex items-center justify-center">
    <%= paginate @articles, views_prefix: :admin_site %>
  </div>
<% end %>
