<%
  title = t('user_site.general.model_show_title', model: Article.model_name.human)
%>

<% content_for :title, title %>

<% content_for(:main_header) do %>
  <%= render(UserSite::MainHeaderComponent.new) do %>
    <%= render(UserSite::MainHeaderTitleComponent.new) do %>
      <%= render(UserSite::MainHeaderTitleTextComponent.new) do %>
        <%= title %>
      <% end %>
    <% end %>
    <%= render(UserSite::MainHeaderActionComponent.new) do %>
      <%= render(UserSite::LinkButtonComponent.new(url: user_site_articles_path)) do %>
        <%= t('user_site.general.list') %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render(UserSite::CardComponent.new(append_classes: ['mb-4'])) do %>
  <%= render(UserSite::CardBodyComponent.new) do %>
    <%= render(UserSite::CardTitleComponent.new) do %>
      <%= @article.title %>
    <% end %>
    <p>
      <%= sanitize(@article.body) %>
    </p>
  <% end %>
<% end %>
