<% flash_messages.each do |key, message| %>
  <%
    component_class = flash_alert_component_class(key)
    icon_component_class = flash_alert_icon_component_class(key)
    button_component_class = flash_alert_button_component_class(key)
  %>
  <div class="mb-2">
    <div data-controller="flash">
      <%= render(component_class.new(data: { flash_target: 'alert' })) do %>
        <%= render(icon_component_class.new) %>
        <%= render(AdminSite::AlertBodyComponent.new) do %>
          <%= sanitize(message) %>
        <% end %>
        <%= render(AdminSite::AlertActionComponent.new) do %>
          <%= render(button_component_class.new(square: true, data: { action: 'click->flash#hide' })) do %>
            <%= render(FontAwesome::CircleXmarkIconComponent.new) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
