<%# locals: (form:) %>

<% if form.object.errors.any? %>
  <div class="mb-4">
    <%=
      render(
        AdminSite::FormErrorComponent.new(
          errors: form.object.errors,
          except_attributes: %i[title body status published_at article_category_id]
        )
      )
    %>
  </div>
<% end %>

<%= form.fieldset do %>
  <div class="mb-4">
    <%= form.labeled_full_width_text_field :title, error_options: { show: true } %>
  </div>

  <div class="mb-4">
    <%= form.labeled_full_width_textarea :body, error_options: { show: true } %>
  </div>

  <div class="mb-4">
    <%= form.labeled_full_width_select :status, Article.status_options, error_options: { show: true } %>
  </div>

  <div class="mb-4">
    <%= form.labeled_full_width_datetime_field :published_at, error_options: { show: true } %>
  </div>

  <div class="mb-4">
    <%= form.labeled_full_width_collection_select :article_category_id, ArticleCategory.all, :id, :name, error_options: { show: true } %>
  </div>
<% end %>
