<%
  title = t('admin_site.general.model_list_title', model: Article.model_name.human(count: 2))
%>

<% content_for :title, title %>

<% content_for(:main_header) do %>
  <%= render(AdminSite::MainHeaderComponent.new) do %>
    <%= render(AdminSite::MainHeaderTitleComponent.new) do %>
      <%= render(AdminSite::MainHeaderTitleTextComponent.new) do %>
        <%= title %>
      <% end %>
    <% end %>
    <%= render(AdminSite::MainHeaderActionComponent.new) do %>
      <%= render(AdminSite::LinkButtonComponent.new(url: new_admin_site_article_path)) do %>
        <%= t('admin_site.general.new') %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="mb-4">
  <%= page_entries_info @articles %>
</div>

<% if @articles.present? %>
  <div class="mb-4">
    <%= render(AdminSite::TableComponent.new(append_classes: ['mb-4'])) do %>
      <%= render(AdminSite::TableRowComponent.new) do %>
        <%= render(AdminSite::TableCellComponent.new) do %>
          <%= Article.human_attribute_name(:id) %>
        <% end %>
        <%= render(AdminSite::TableCellComponent.new) do %>
          <%= Article.human_attribute_name(:title) %>
        <% end %>
        <%= render(AdminSite::TableCellComponent.new) do %>
          <%= Article.human_attribute_name(:status) %>
        <% end %>
        <%= render(AdminSite::TableCellComponent.new) do %>
          <%= Article.human_attribute_name(:published_at) %>
        <% end %>
        <%= render(AdminSite::TableCellComponent.new) do %>
          <%= Article.human_attribute_name(:created_at) %>
        <% end %>
        <%= render(AdminSite::TableCellComponent.new) do %>
          <%= Article.human_attribute_name(:updated_at) %>
        <% end %>
        <%= render(AdminSite::TableCellComponent.new) %>
      <% end %>
      <%= render(AdminSite::TableBodyComponent.new) do %>
        <% @articles.each do |article| %>
          <%= render(AdminSite::TableRowComponent.new) do %>
            <%= render(AdminSite::TableCellComponent.new) do %>
              <%= article.id %>
            <% end %>
            <%= render(AdminSite::TableCellComponent.new) do %>
              <%= article.title %>
            <% end %>
            <%= render(AdminSite::TableCellComponent.new) do %>
              <%= article.status %>
            <% end %>
            <%= render(AdminSite::TableCellComponent.new) do %>
              <%= l(article.published_at, format: :admin_site_default) if article.published_at.present? %>
            <% end %>
            <%= render(AdminSite::TableCellComponent.new) do %>
              <%= l(article.created_at, format: :admin_site_default) if article.created_at.present? %>
            <% end %>
            <%= render(AdminSite::TableCellComponent.new) do %>
              <%= l(article.updated_at, format: :admin_site_default) if article.updated_at.present? %>
            <% end %>
            <%= render(AdminSite::TableCellComponent.new) do %>
              <%= render(AdminSite::LinkButtonComponent.new(url: admin_site_article_path(id: article.id))) do %>
                <%= t('admin_site.general.show') %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="mb-4 flex items-center justify-center">
    <%= paginate @articles, views_prefix: :admin_site %>
  </div>
<% end %>
