<!DOCTYPE html>
<html data-theme="<%= params.dig(:lookbook, :display, :theme) || 'default' %>">
<head>
  <title>Component Preview</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
  <%= vite_client_tag %>
  <%= vite_typescript_tag 'entrypoints/component_preview/application' %>
</head>
<body>
  <div class="container p-4">
    <%= yield %>
  </div>
</body>
</html>
